body{
    background-color: rgb(28, 28, 28);
    font-family: 'Microsoft JhengHei';
}

.flex{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    /* align-items: center; */
}

.bg-img{
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.titleExterior{
    color: white;
    padding: 5px;
    text-shadow: 0 0 30px white;
    font-weight: 900;
}

.box{
    width: 50%; 
}

.box1{
    /* position: absolute;
    top:0;
    bottom: 0; */
    height: 450px;
    background-image: url('/image/Shakespeare.jpg');
    background-position:top center;
    background-size: cover;
}

.box2{
    color: white;
    padding: 0 30px 0;
    margin-top: 5px;
    text-align: justify;
    align-self: flex-end;
    /* z-index: 99; */
}

.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap-reverse;
    margin-top: 30px;
}

.box3{
    color: white;
    padding: 0 30px 0;
    margin-top: 5px;
    text-align: justify;
    align-self: flex-start;
}

.box4{
    height: 450px;
    background-image: url('/image/war.jpg');
    background-position:top center;
    background-size: cover;
}

.card{
    margin: 10px;
}

.Img1 {
    width: 80px;
    height: 200px;
    background-image: url('/image/4a8cc26f80db1.jpg');
    background-position: 60% 40%;
}

.Img2 {
    width: 80px;
    height: 250px;
    background-image: url('/image/FuseliMacbethBoydell.jpg');
    background-position: 50% 40%;
}

.Img3 {
    width: 80px;
    height: 300px;
    background-image: url('/image/macbethandbanquo-witches.jpg');
    background-position: 27% 28%;
}

.Img4 {
    width: 80px;
    height: 250px;
    background-image: url('/image/Cgfo1yKWsAErFM5.jpg');
    background-position: 50% 40%;
}

.Img5 {
    width: 80px;
    height: 200px;
    background-image: url('/image/下載.jpg');
    background-position: 50% 40%;
}

.btn{
    margin:10px;
    border-style: none;
    transition: 0.2s;

}
.btn:hover{
    font-size: 20px;
    font-weight: 800;
    color: brown;
}

.media{
    margin: 30px;
}

.Img {
    width: 80px;
    height: 300px;
    background-image: url('/image/4a8cc26f80db1.jpg');
    background-position: 44% 25%;
}



@media (max-width: 767.98px) {
    .box{
        width: 100%; 
    }

    .media img{
        width: 100%;
    }

    .Img1,.Img2,.Img3,.Img4,.Img5{
        width: 60px;
        margin: 0 5px;
    }

}